<html>
  <head><title>Rack test</title></head>
  <body>
    <h1>Rack test</h1>
    <p>
      <% (1..9).each do |y| %>
        <%= y %>
      <% end %>
      <%(1..9).each do |x|%>
        <%= x %>
        <%(1..9).each do |y|%>
          <%= x*y %>
        <% end %>
      <% end %>
    </p>
  </body>
</html>

